<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.storm.designpatterns" >

    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <permission
        android:name="com.storm.designpatterns.ANDROID_PERMISSION"
        android:label="My permission"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.V7.Theme.AppCompat.Light" >
        <activity
            android:name=".PatternsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:label="com.storm.patterns.START_SERVICE">
                <action android:name="com.storm.patterns.START_SERVICE"/>
            </intent-filter>
        </service>
    </application>

</manifest>
